Repository Dogacel/Kalas-Iris, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation

Create project-automation.yml
  .github/workflows/project-automation.yml
Labels: none

Create discord.yml
  .github/workflows/discord.yml
Labels: none

Create todo.yml
  .github/workflows/todo.yml
Labels: none

Update README.md
  README.md
Labels: documentation

Implement onRemove hook to handle file removal from filelist.
  web/package-lock.json
  web/package.json
  web/src/components/FileUpload.jsx
  web/src/views/AnnotateView.jsx
Labels: frontend

Add mmfashion fork submodule
  .gitignore
  .gitmodules
Labels: none

Update project-automation.yml
  .github/workflows/project-automation.yml
Labels: none

Implement onRemove hook to handle file removal from filelist. (#48)
  web/package-lock.json
  web/package.json
  web/src/components/FileUpload.jsx
  web/src/views/AnnotateView.jsx
Labels: frontend

Fix root css
  web/src/css/app.css
  web/src/views/AnnotateView.jsx
Labels: frontend

Fix root css (#49)
  web/src/css/app.css
  web/src/views/AnnotateView.jsx
Labels: frontend

Create todo-issues.yml
  .github/workflows/todo-issues.yml
Labels: none

Update todo.yml
  .github/workflows/todo.yml
Labels: none

Initial commit
  .DS_Store
  docs/woocommerce.md
Labels: documentation

Update woocommerce.md
  docs/woocommerce.md
Labels: documentation

Update woocommerce.md
  docs/woocommerce.md
Labels: documentation

Add launched website link
  docs/woocommerce.md
Labels: documentation

Refactor backend code
  api/flaskr/__init__.py
  api/flaskr/db.py
  api/flaskr/routes/auth.py
  api/flaskr/routes/image.py
Labels: backend

Update woocommerce.md
  docs/woocommerce.md
Labels: documentation

Update woocommerce.md
  docs/woocommerce.md
Labels: documentation

added dropdown nav-item to header navigation
  web/src/App.js
  web/src/views/FashionAnnotationInfoView.jsx
  web/src/views/HomepageView.jsx
Labels: frontend

removed the onFinish hook from FashionAnnotateInfoView
  web/src/views/FashionAnnotationInfoView.jsx
  web/src/views/HomepageView.jsx
Labels: frontend

Update woocommerce.md
  docs/woocommerce.md
Labels: documentation

Remove onFinish hook and unused imports
  web/src/views/HomepageView.jsx
Labels: frontend

Consistent Response on endpoints
  api/flaskr/routes/auth.py
  api/flaskr/routes/image.py
Labels: backend

Refactor backend code (#53)
  api/flaskr/__init__.py
  api/flaskr/db.py
  api/flaskr/routes/auth.py
  api/flaskr/routes/image.py
Labels: backend

Migrate react router v6 and add simple integration
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/index.js
  web/src/views/IntegrationsView.jsx
  web/src/views/LoginView.jsx
  web/src/views/SignupView.jsx
Labels: frontend

.github/labeler.yml:

backend:
  - api/**/*

frontend:
  - web/**/*

documentation:
  - README.md
  - docs/*
