Repository Dogacel/Kalas-Iris, pull requests merged in 2021-01, with the labels that each got.

#21 Create login/signup endpoints
  api/.gitignore
  api/flaskr/__init__.py
  api/requirements.txt
Labels: backend

#27 Fix GCloud Server not starting when clicked.
  web/src/App.js
  web/src/api/api.js
Labels: bug

#23 Login signup frontend
  api/.gitignore
  api/flaskr/__init__.py
  api/requirements.txt
  web/src/App.js
  web/src/api/api.js
  web/src/css/app.css
  web/src/views/LoginView.jsx
  web/src/views/SignupView.jsx
Labels: WIP, frontend

#28 Hook login/signup frontend with backend
  api/flaskr/__init__.py
  web/src/api/api.js
  web/src/views/LoginView.jsx
  web/src/views/SignupView.jsx
Labels: WIP, backend, frontend, help wanted

#35 Implement authorization token for logged in users
  api/flaskr/__init__.py
  api/requirements.txt
  web/src/App.js
  web/src/api/api.js
  web/src/components/UserContext.jsx
  web/src/views/HomepageView.jsx
  web/src/views/LoginView.jsx
Labels: backend, frontend
