Repository Dogacel/Kalas-Iris, pull requests merged in 2021-02, with the labels that each got.

#48 Implement onRemove hook to handle file removal from filelist.
  web/package-lock.json
  web/package.json
  web/src/components/FileUpload.jsx
  web/src/views/AnnotateView.jsx
Labels: bug, frontend

#49 Fix footer layout css
  web/src/css/app.css
  web/src/views/AnnotateView.jsx
Labels: bug, frontend

#53 Refactor backend code
  api/flaskr/__init__.py
  api/flaskr/db.py
  api/flaskr/routes/auth.py
  api/flaskr/routes/image.py
Labels: backend

#55 Fix homepage code
  web/public/carousel-1-image.jpeg
  web/public/carousel-2-image.jpeg
  web/public/ki-black-on-white-logo.jpeg
  web/public/ki-logo-white.png
  web/src/App.js
  web/src/css/app.css
  web/src/views/FashionAnnotationInfoView.jsx
  web/src/views/HomepageView.jsx
  web/src/views/LoginView.jsx
Labels: frontend

#66 Added dashboard tab
  web/src/App.js
  web/src/views/DashboardView.jsx
Labels: frontend

#52 Add WooCommerce Integration Report
  .DS_Store
  docs/woocommerce.md
Labels: documentation, research

#47 Add Wix Integration Report
  docs/wix.md
Labels: documentation

#68 Fix login-bug
  api/flaskr/routes/auth.py
  api/requirements.txt
  web/src/components/UserContext.jsx
  web/src/views/LoginView.jsx
Labels: backend, frontend

#64 Add Integration Menu
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/views/IntegrationsView.jsx
  web/src/views/LoginView.jsx
  web/src/views/SignupView.jsx
Labels: frontend

#74 Add integrations be
  api/flaskr/__init__.py
  api/flaskr/db.py
  api/flaskr/routes/integrations.py
  web/src/api/api.js
  web/src/views/IntegrationsView.jsx
Labels: backend, frontend

#69 WooCommerce Integration Implementation
  api/flaskr/__init__.py
  api/flaskr/routes/woocommerce.py
  api/flaskr/wcapi.py
Labels: backend

#67 NopCommerce doc
  docs/nopcommerce.md
Labels: documentation

#81 Navigation bug fixes
  web/src/App.js
  web/src/css/menuBarStyle.css
Labels: frontend

#77 WooCommerce Integration Frontend Implementation
  api/flaskr/routes/integrations.py
  web/package-lock.json
  web/src/views/IntegrationsView.jsx
  web/src/views/WooIntegration.jsx
Labels: backend, frontend

#76 Move annotateImage to Backend
  api/flaskr/routes/image.py
  web/src/api/api.js
Labels: backend, enhancement, frontend

#79 Fetch WooCommerce Authentication Information from DB
  api/flaskr/routes/integrations.py
  api/flaskr/routes/woocommerce.py
  api/flaskr/wcapi.py
Labels: backend

#85 Remove dead import
  api/flaskr/routes/woocommerce.py
Labels: backend
